:root{
    --dark: #282c34;
}
.cut-text-inline{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.button-none{
    border: none;
    background-color: white;
}
.wishlist-button{
    transition: all 200ms;
}
.not-touch-device .wishlist-button:hover{
    color:red
}
.saved{
    color:red
}
.not-touch-device .grow-on-hover:hover{
    transform: scale(1.25);
    transition: all 200ms;
}
